#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<div class="modal modal-wide" id="execute-flow-panel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="execute-flow-panel-title"></h4>
      </div><!-- /modal-header -->
      <div class="modal-body row">
        <div class="col-xs-4">
          <ul class="nav nav-pills nav-stacked" id="graph-options">
            <li id="flow-option" viewpanel="svg-div-custom">
              <a href="#">工作流视图</a>
              <div class="menu-caption">右键单击作业可在工作流中禁用或启用作业。
              </div>
            </li>
            <li viewpanel="notification-panel">
              <a href="#">通知</a>
              <div class="menu-caption">更改成功和失败邮件的发送地址。
              </div>
            </li>
            <li viewpanel="failure-options">
              <a href="#">失败选项</a>
              <div class="menu-caption">选择检测到失败时的工作流行为。</div>
            </li>
            <li viewpanel="concurrent-panel">
              <a href="#">并发</a>
              <div class="menu-caption">更改工作流已在运行时的行为。
              </div>
            </li>
            <li viewpanel="flow-parameters-panel">
              <a href="#">工作流参数</a>
              <div class="menu-caption">添加临时工作流参数，用于覆盖每个作业的全局设置。
              </div>
            </li>
          </ul>
        </div><!-- /col-xs-4 -->
        <div class="col-xs-8">
          <div id="execution-graph-options-panel">

              ## SVG graph panel.

            <div id="svg-div-custom" class="side-panel">
              <svg id="flow-executing-graph" xmlns="http://www.w3.org/2000/svg" version="1.1"
                   shape-rendering="optimize-speed" text-rendering="optimize-speed">
              </svg>
            </div>

              ## Notification panel.

            <div id="notification-panel" class="side-panel">
              <h4>失败时通知</h4>
              <p>当作业失败时，可选择在首次失败时通知，和/或失败的工作流结束时通知。</p>
              <hr>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                  <input id="notify-failure-first" type="radio" name="notify" value="first">首次失败
                </label>
                <label class="btn btn-default">
                  <input id="notify-failure-last" type="radio" name="notify" value="last">工作流结束
                </label>
              </div>

              <h4>失败邮件</h4>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="override-failure-emails" name="overrideFailureEmails"
                         value="overrideFailureEmails">
                  覆盖工作流邮件设置。
                </label>
              </div>
              <label>失败时通知这些地址。可使用逗号、空格或分号分隔的列表。</label>
              <textarea class="form-control" rows="3" id="failure-emails"></textarea>

              <h4>成功邮件</h4>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="override-success-emails" name="overrideSuccessEmails"
                         value="overrideSuccessEmails">
                  覆盖工作流邮件设置。
                </label>
              </div>
              <label>工作流成功完成时通知。可使用逗号、空格或分号分隔的列表。</label>
              <textarea class="form-control" rows="3" id="success-emails"></textarea>
            </div>

              ## Failure options panel.

            <div id="failure-options" class="side-panel">
              <h4>失败选项</h4>
              <p>当工作流首次出现失败时，选择执行行为。</p>
              <hr>
              <ul>
                <li><strong>完成当前运行</strong> 仅完成当前正在运行的作业。
                  不会启动任何新作业。
                </li>
                <li><strong>取消全部</strong> 立即终止所有作业并使工作流失败。</li>
                <li><strong>完成所有可能</strong> 将在依赖满足的情况下继续执行作业。
                </li>
              </ul>
              <select id="failure-action" name="failureAction"
                      class="form-control form-control-auto">
                <option value="finishCurrent">完成当前运行</option>
                <option value="cancelImmediately">取消全部</option>
                <option value="finishPossible">完成所有可能</option>
              </select>
            </div>

              ## Concurrent execution options panel.

            <div id="concurrent-panel" class="side-panel">
              <h4>并发执行选项</h4>
              <p>如果工作流当前正在运行，可以设置以下选项。</p>
              <hr>
              <div class="radio">
                <label>
                  <input type="radio" id="skip" name="concurrent" value="skip" checked="checked">
                  跳过执行
                </label>
                <span class="help-block">如果工作流已在运行，则不运行。</span>
              </div>

              <div class="radio">
                <label>
                  <input type="radio" id="ignore" name="concurrent" value="ignore">
                  并发运行
                </label>
                <span
                    class="help-block">仍运行工作流。之前的执行不受影响。</span>
              </div>

              <div class="radio">
                <label>
                  <input type="radio" id="pipeline" name="concurrent" value="pipeline">
                  管道
                </label>
                <select id="pipeline-level" name="pipelineLevel"
                        class="form-control form-control-auto input-sm">
                  <option value="1">级别 1</option>
                  <option value="2">级别 2</option>
                </select>
                <span class="help-block">
                        以管道方式运行工作流，这样当前执行不会被覆盖。
                        <ul>
                          <li>级别 1：阻塞作业 A，直到上一次工作流的作业 A 完成。</li>
                          <li>级别 2：阻塞作业 A，直到上一次工作流的作业 A 的子作业完成。</li>
                          </li>
                      </span>
              </div>
            </div>

              ## Flow parameters panel

            <div id="flow-parameters-panel" class="side-panel">
              <h4>工作流属性覆盖</h4>
              <hr>
              <div id="editTable">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="property-key">名称</th>
                    <th>值</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr id="addRow" class="addRow">
                    <td id="addRow-col" colspan="2">
                      <button type="button" class="btn btn-success btn-xs" id="add-btn">添加行
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div><!-- /execution-graph-options-panel -->
        </div><!-- /col-xs-8 -->
      </div><!-- /modal-body -->

      <div class="modal-footer">
          #if (!$show_schedule || $show_schedule == 'true')
            <div class="pull-left">
              <button type="button" class="btn btn-success" id="schedule-btn">调度</button>
            </div>
          #end

          #*
          #if ($triggerPlugins.size() > 0)
            #foreach ($triggerPlugin in $triggerPlugins)
                        <button type="button" class="btn btn-default" id=set-$triggerPlugin.pluginName>$triggerPlugin.pluginName</button>
            #end
          #end
          *#
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="execute-btn">执行</button>
      </div><!-- /modal-footer -->
    </div><!-- /modal-content -->
  </div><!-- /modal-dialog -->
</div><!-- /modal -->

#if (!$show_schedule || $show_schedule == 'true')
    #parse ("azkaban/webapp/servlet/velocity/schedulepanel.vm")
#end

#*
#if ($triggerPlugins.size() > 0)
  #foreach ($triggerPlugin in $triggerPlugins)
    #set ($prefix = $triggerPlugin.pluginName)
    #set ($webpath = $triggerPlugin.pluginPath)
    #parse ($triggerPlugin.inputPanelVM)
  #end
#end
*#

<div id="contextMenu"></div>
