#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<div class="modal modal-wide" id="sla-options">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">SLA 选项</h4>
      </div>
      <div class="modal-body">
        <h4>SLA 告警邮件</h4>
        <fieldset>
          <div class="form-group">
            <label>SLA 告警邮件</label>
            <textarea id="slaEmails" class="form-control"></textarea>
          </div>
        </fieldset>
        <h4>工作流 SLA 规则</h4>
        <table class="table table-striped" id="flowRulesTbl">
          <thead>
          <tr>
            <th>工作流/作业</th>
            <th>Sla 规则</th>
            <th>持续时间(格式 HH:MM，例如 10 分钟后终止为 00:10)</th>
            <th>邮件操作</th>
            <th>终止操作</th>
          </tr>
          </thead>
          <tbody>
          <tr id="addRow">
            <td id="addRow-col" colspan="5">
              <span class="addIcon"></span>
              <button type="button" class="btn btn-xs btn-success" id="add-btn">添加行</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <!--<button type="button" class="btn btn-danger" id="remove-sla-btn">Remove SLA</button>-->
        <button type="button" class="btn btn-primary" id="set-sla-btn">设置/更改 SLA</button>
      </div>
    </div>
  </div>
</div>
